.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Evaluador de competencias laborales en el área técnica de su dominio
            h1.curso-titulo Cierre del proceso ECCL

            .brand-line-primary

            p.curso-descripcion El aprendiz apropiará conocimientos para el cierre del proceso ECCL, por medio de la verificación de proyecto y la auditoria de sistema.
            
            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")