.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 ECCL:
            | Evaluaci贸n y Certificaci贸n de Competencias Laborales.
        hr
        p
            strong.mr-2 DSNFT:
            | Direcci贸n del Sistema Nacional de Formaci贸n para el Trabajo.
        hr
        p
            strong.mr-2 PAC:
            | Plan de Acciones Correctivas.
        hr
        p
            strong.mr-2 PQRSF:
            | Peticiones, Quejas, Reclamos, Sugerencias y Felicitaciones.