.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Nombre del documento o material
                th Tipo de material
                th Enlace del recurso

        tbody

        
            tr
                td SENA (2019) Documentos proceso ECCL
                td WEB
                td 
                    a(href="http://compromiso.sena.edu.co/", target="_blank") <span class="" aria-hidden="true"></span> Ir al sitio     