.container

  ol

    li
      p 
        | Compromiso SENA. (2019, diciembre).<br>  
        i Guía para evaluar y certificar competencias laborales.<br>  
        a(href="http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2427", target="_blank") http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2427

    li
      p 
        | Compromiso SENA. (2019, diciembre).<br>  
        i Instructivo para la auditoria de sistema.<br> 
        a(href="http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2417", target="_blank") http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2417

    li
      p 
        | Compromiso SENA. (2019, diciembre).<br>  
        i Instructivo para la planeación y construcción de ítems e Indicadores de evaluación de competencia laboral.<br> 
        a(href="http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2435", target="_blank") http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2435
  
    li
      p 
        | Compromiso SENA. (2019, diciembre).<br>  
        i Instructivo para la recolección de evidencias de conocimiento, desempeño y producto de CL.<br> 
        a(href="http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2435", target="_blank") http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2434

    li
      p 
        | Compromiso SENA. (2019, diciembre).<br>  
        i Instructivo para la solicitud requerimientos al banco nacional de instrumentos de evaluación de competencias laborales.<br> 
        a(href="http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2437", target="_blank") http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2437
    
    li
      p 
        | Compromiso SENA. (2019, diciembre).<br>  
        i Instructivo para la verificación del proceso de evaluación y certificación de competencias laborales.<br> 
        a(href="http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2426", target="_blank") http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2426

    li
      p 
        | Compromiso SENA. (2019, diciembre).<br>  
        i Reglamento de ética del proceso gestión de certificación de competencias laborales.<br> 
        a(href="http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2416", target="_blank") http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2416