include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 2. Normativa vigente proceso ECCL

    .p-5(style="background-color:#ECEFFE")        
        p.mb-0 Para iniciar la ruta de trabajo del proceso de Evaluación y Certificación de Competencias Laborales (ECCL), es necesario que el aprendiz apropie e interprete la normativa correspondiente. #[strong Para ello, resulta importante que revise todos los documentos contenidos en la línea de tiempo que se encuentra a continuación:]
    .jumbotron.bg-white      
      .container.timeline__wrapper
        .row.justify-content-center.px-sm-2.px-md-5.py-5
          .col-10 
            section                       
              .timeline-card-wrapper.tl--starEnd.pt-5       
                .timeline-card
                  .timeline-card__head
                    a(href="media/documentos/1991_Constitucion_Politica_Colombia_Articulo_25.pdf" target="_blank")
                      .img-box
                        img(src="assets/images/pages/cf1/document.svg", alt="")
                      h3 Constitución Política de Colombia. Artículo 25
                    .date
                      h2.my-0 1990
                                        
                .timeline-card
                  .timeline-card__head
                    a(href="media/documentos/1997_CONPES_2945.pdf" target="_blank")
                      .img-box
                        img(src="assets/images/pages/cf1/document.svg", alt="")
                      h3 CONPES 2945
                    .date
                      h2.my-0 1997
                                          
                .timeline-card
                  .timeline-card__head
                    a(href="media/documentos/2003_Ministerio_Salud _Proteccion_Social_Decreto_933_Articulo_19.pdf" target="_blank")
                      .img-box
                        img(src="assets/images/pages/cf1/document.svg", alt="")
                      h3 Ministerio de Salud y Protección Social - Decreto 933 Artículo 19
                    .date
                      h2.my-0 2003
                                          
                .timeline-card
                  .timeline-card__head
                    a(href="media/documentos/2004_Ministerio_de_Salud_Proteccion_Social_Decreto_249_Articulo_12.pdf" target="_blank")
                      .img-box
                        img(src="assets/images/pages/cf1/document.svg", alt="")
                      h3 Ministerio de Salud y Protección Social - Decreto 249 Artículo 12
                    .date
                      h2.my-0 2004
                .timeline-card
                  .timeline-card__subhead
                    a(href="media/documentos/2004_Organizacion_Internacional_del_Trabajo_Recomendacion_195.pdf" target="_blank")
                      .img-box
                        img(src="assets/images/pages/cf1/document.svg", alt="")
                      h3 Organización Internacional del Trabajo Recomendación 195                
                .timeline-card
                  .timeline-card__subhead
                    a(href="media/documentos/2004_CONPES_81.pdf" target="_blank")
                      .img-box
                        img(src="assets/images/pages/cf1/document.svg", alt="")
                      h3 CONPES 81  
                                        
                .timeline-card
                  .timeline-card__head
                    a(href="media/documentos/2010_CONPES_3674.pdf" target="_blank")
                      .img-box
                        img(src="assets/images/pages/cf1/document.svg", alt="")
                      h3 CONPES 3674
                    .date
                      h2.my-0 2010                
                                        
                .timeline-card
                  .timeline-card__head
                    a(href="media/documentos/2013_SENA_Resolucion_1658.pdf" target="_blank")
                      .img-box
                        img(src="assets/images/pages/cf1/document.svg", alt="")
                      h3 SENA  Resolución 1658
                    .date
                      h2.my-0 2013
                                          
                .timeline-card
                  .timeline-card__head
                    a(href="media/documentos/2019_Congreso_de_Colombia_Ley_1955_Articulo_194.pdf" target="_blank")
                      .img-box
                        img(src="assets/images/pages/cf1/document.svg", alt="")
                      h3 Congreso de Colombia - Ley 1955 Artículo 194
                    .date
                      h2.my-0 2019
                                          
                .timeline-card
                  .timeline-card__head
                    a(href="media/documentos/2020_CONPES_3988.pdf" target="_blank")
                      .img-box
                        img(src="assets/images/pages/cf1/document.svg", alt="")
                      h3 CONPES 3988
                    .date
                      h2.my-0 2020
                .timeline-card
                  .timeline-card__subhead
                    a(href="media/documentos/2020_Presidencia_de_la_Republica_Decreto_78.pdf" target="_blank")
                      .img-box
                        img(src="assets/images/pages/cf1/document.svg", alt="")
                      h3 Presidencia de la República - Decreto 78               

              .timeline__externalBtn.mt-5
                a(href="media/documentos/Documentos_proceso_Evaluación_y_Certificación_de_Competencias_Laborales.pdf" target="_blank")                
                  .BtnIcon
                    img(src="assets/images/pages/cf1/document.svg", alt="")         
                  h3 Documentos proceso Evaluación y Certificación de Competencias Laborales

              .timeline__externalBtn.mt-5
                a(href="media/documentos/Referente_de_Evaluación.pdf" target="_blank") 
                  .BtnIcon
                    img(src="assets/images/pages/cf1/document.svg", alt="")         
                  h3 Referente de Evaluación

            
            